/* line 3, ../sass/yemian.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

/* line 7, ../sass/yemian.scss */
.clearfix {
  *zoom: 1;
}

/* line 10, ../sass/yemian.scss */
.clearfix:after, .clearfix:before {
  content: "";
  line-height: 0;
  display: table;
}

/* line 15, ../sass/yemian.scss */
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: Raphaelicons;
  scr: url("fonts/raphaelicons-webfont.eot") format("eot"), url("fonts/raphaelicons-webfont.svg") format("svg"), url("fonts/raphaelicons-webfont.ttf") format("true-type"), url("fonts/raphaelicons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 27, ../sass/yemian.scss */
body {
  font-smoothing: antialiased;
  overflow: hidden;
}

/* line 82, ../sass/yemian.scss */
.footer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 88, ../sass/yemian.scss */
.footer input, .footer a {
  position: fixed;
  width: 20%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #e6b8af;
  bottom: 0;
}
/* line 97, ../sass/yemian.scss */
.footer input {
  z-index: 1000;
  opacity: 0;
}
/* line 100, ../sass/yemian.scss */
.footer input:hover + a {
  background: #a64d79;
}
/* line 103, ../sass/yemian.scss */
.footer input:checked + a {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ea9999;
}
/* line 106, ../sass/yemian.scss */
.footer input:checked + a:after {
  content: "";
  border: 20px solid transparent;
  border-bottom-color: #ea9999;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}
/* line 118, ../sass/yemian.scss */
.footer a {
  z-index: 10;
}

/* line 122, ../sass/yemian.scss */
.nav-1, .nav-1 + a {
  left: 0;
}

/* line 125, ../sass/yemian.scss */
.nav-2, .nav-2 + a {
  left: 20%;
}

/* line 128, ../sass/yemian.scss */
.nav-3, .nav-3 + a {
  left: 40%;
}

/* line 131, ../sass/yemian.scss */
.nav-4, .nav-4 + a {
  left: 60%;
}

/* line 134, ../sass/yemian.scss */
.nav-5, .nav-5 + a {
  left: 80%;
}

/* line 138, ../sass/yemian.scss */
.contents, .common {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 144, ../sass/yemian.scss */
.contents {
  left: 0;
  top: 0;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  -moz-transform: translate3d(0 0 0);
  -ms-transform: translate3d(0 0 0);
  -webkit-transform: translate3d(0 0 0);
  transform: translate3d(0 0 0);
}

/* line 151, ../sass/yemian.scss */
.nav-1:checked ~ .contents {
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 154, ../sass/yemian.scss */
.nav-2:checked ~ .contents {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 157, ../sass/yemian.scss */
.nav-3:checked ~ .contents {
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* line 160, ../sass/yemian.scss */
.nav-4:checked ~ .contents {
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

/* line 163, ../sass/yemian.scss */
.nav-5:checked ~ .contents {
  -moz-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
}

/* line 168, ../sass/yemian.scss */
#first-cont div, #third-cont div, #sec-cont div, #four-cont div, #five-cont div {
  width: 200px;
  height: 200px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 0;
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

/* line 182, ../sass/yemian.scss */
#first-cont div, #third-cont div, #five-cont div {
  background: #d829d8;
}
/* line 185, ../sass/yemian.scss */
#first-cont h2, #first-cont p, #third-cont h2, #third-cont p, #five-cont h2, #five-cont p {
  color: #d829d8;
}

/* line 189, ../sass/yemian.scss */
#sec-cont, #four-cont {
  background: #d829d8;
}
/* line 191, ../sass/yemian.scss */
#sec-cont h2, #sec-cont p, #four-cont h2, #four-cont p {
  color: #fff;
}

/* line 196, ../sass/yemian.scss */
[data-icon]:after {
  content: attr(data-icon);
  color: red;
  font-family: "Raphaelicons";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 15px 0 0 18px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 206, ../sass/yemian.scss */
.common {
  overflow: hidden;
}
/* line 208, ../sass/yemian.scss */
.common h2, .common p {
  width: 100%;
  font-weight: 900;
  text-align: center;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 215, ../sass/yemian.scss */
.common h2 {
  top: 30%;
}
/* line 218, ../sass/yemian.scss */
.common p {
  top: 40%;
}

/* line 222, ../sass/yemian.scss */
.nav-1:checked ~ .contents #first-cont h2,
.nav-2:checked ~ .contents #sec-cont h2,
.nav-3:checked ~ .contents #third-cont h2,
.nav-4:checked ~ .contents #four-cont h2,
.nav-5:checked ~ .contents #five-cont h2 {
  -moz-animation: moveup 1s linear 0.2s backwards;
  -webkit-animation: moveup 1s linear 0.2s backwards;
  animation: moveup 1s linear 0.2s backwards;
}

@-moz-keyframes moveup {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
@-webkit-keyframes moveup {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
@keyframes moveup {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
/* line 233, ../sass/yemian.scss */
.nav-1:checked ~ .contents #first-cont p,
.nav-2:checked ~ .contents #sec-cont p,
.nav-3:checked ~ .contents #third-cont p,
.nav-4:checked ~ .contents #four-cont p,
.nav-5:checked ~ .contents #five-cont p {
  -moz-animation: movedown 1s linear 0.2s backwards;
  -webkit-animation: movedown 1s linear 0.2s backwards;
  animation: movedown 1s linear 0.2s backwards;
}

@-moz-keyframes movedown {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
@-webkit-keyframes movedown {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
@keyframes movedown {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
@media screen and (max-width: 520px) {
  /* line 247, ../sass/yemian.scss */
  #first-cont div, #third-cont div, #sec-cont div, #four-cont div, #five-cont div {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
}
