/* line 5, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/ruby/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/demo.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* line 9, ../sass/demo.scss */
.clearfix {
  *zoom: 1;
}

/* line 12, ../sass/demo.scss */
.clearfix:after, .clearfix:before {
  display: table;
  content: '';
  line-height: 0;
}

/* line 17, ../sass/demo.scss */
.clearfix:after {
  clear: both;
}

/* line 20, ../sass/demo.scss */
body {
  width: 1349px;
  color: #1C1C1C;
  font-size: 15px;
  background: #CFCFCF;
}

/* line 26, ../sass/demo.scss */
#header {
  width: 100%;
  height: 60px;
  background: #050505;
  padding: 0 80px;
}

/* line 32, ../sass/demo.scss */
.logo {
  float: left;
  padding: 9px 30px 10px 0;
}

/* line 37, ../sass/demo.scss */
.r-link {
  float: left;
  margin-right: 360px;
}
/* line 41, ../sass/demo.scss */
.r-link li {
  float: left;
  width: 80px;
  text-align: center;
}
/* line 46, ../sass/demo.scss */
.r-link li a {
  display: block;
  width: 100%;
  line-height: 60px;
  color: #737373;
  transition: 0.3s;
}
/* line 53, ../sass/demo.scss */
.r-link li a:hover {
  background: #838B83;
  color: #fff;
}

/* line 60, ../sass/demo.scss */
.l-link {
  position: relative;
}
/* line 62, ../sass/demo.scss */
.l-link form {
  float: left;
}
/* line 65, ../sass/demo.scss */
.l-link input {
  padding: 5px 10px;
  width: 200px;
  height: 24px;
  background: #363c41;
  margin: 18px 0;
  transition: 0.5s;
}
/* line 73, ../sass/demo.scss */
.l-link form a {
  position: absolute;
  right: 245px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: url(../images/gsearch-sprite.png) -5px -5px;
}
/* line 82, ../sass/demo.scss */
.l-link .mes {
  float: left;
  height: 60px;
  text-align: center;
  transition: 0.3s;
  color: #737373;
}
/* line 89, ../sass/demo.scss */
.l-link .mes:hover {
  background: #838B83;
}
/* line 91, ../sass/demo.scss */
.l-link .mes:hover .count {
  color: #fff;
}

/* line 97, ../sass/demo.scss */
.mes1 {
  width: 50px;
  margin-left: 20px;
  line-height: 60px;
}

/* line 102, ../sass/demo.scss */
.mes2 {
  width: 55px;
  padding-top: 15px;
}

/* line 106, ../sass/demo.scss */
.mes3 {
  width: 55px;
}
/* line 110, ../sass/demo.scss */
.mes3 span {
  display: inline-block;
  width: 40px;
  height: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin: 10px 5px;
  background: url(../images/menu_icon.png);
}

/* line 119, ../sass/demo.scss */
.set {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 130px;
  background: #838B83;
  display: none;
  z-index: 1;
}
/* line 130, ../sass/demo.scss */
.set li a {
  display: block;
  padding: 20px 20px;
  width: 130px;
  height: 50px;
  border-bottom: 1px solid #4a5153;
}
/* line 136, ../sass/demo.scss */
.set li a .logo-set {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 143, ../sass/demo.scss */
.set li a .myset {
  background: url(../images/menu_icon.png) 0px -180px;
}
/* line 146, ../sass/demo.scss */
.set li a .exit {
  background: url(../images/menu_icon.png) 0px -220px;
}

/* line 153, ../sass/demo.scss */
.container {
  width: 100%;
}

/* line 156, ../sass/demo.scss */
.top-link {
  width: 100%;
  border: 1px solid #656e73;
  background: #fff;
  -moz-box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
  box-shadow: 2px 2px 2px #888888;
}
/* line 161, ../sass/demo.scss */
.top-link ul {
  margin-left: 250px;
}
/* line 163, ../sass/demo.scss */
.top-link ul .top-nav {
  float: left;
  margin-right: 30px;
  padding: 10px 0px;
}

/* line 170, ../sass/demo.scss */
.content {
  padding: 20px 100px 0;
}

/* line 173, ../sass/demo.scss */
.course-nav {
  float: left;
  background: #fff;
  -moz-box-shadow: 2px 2px 2px #656e73;
  -webkit-box-shadow: 2px 2px 2px #656e73;
  box-shadow: 2px 2px 2px #656e73;
}
/* line 178, ../sass/demo.scss */
.course-nav ul li {
  padding: 0 20px;
}
/* line 181, ../sass/demo.scss */
.course-nav ul li a {
  display: block;
  color: #050505;
  width: 200px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(199, 199, 199, 0.6);
}
/* line 187, ../sass/demo.scss */
.course-nav ul li a span {
  color: #656e73;
  float: right;
  opacity: 0.6;
}
/* line 192, ../sass/demo.scss */
.course-nav ul li:hover {
  -moz-box-shadow: 0px 2px 5px #656e73;
  -webkit-box-shadow: 0px 2px 5px #656e73;
  box-shadow: 0px 2px 5px #656e73;
}
/* line 194, ../sass/demo.scss */
.course-nav ul li:hover span {
  opacity: 1;
  font-weight: bold;
}

/* line 214, ../sass/demo.scss */
.course-content {
  width: 880px;
  position: absolute;
  left: 350px;
  border: 1px solid rgba(199, 199, 199, 0.6);
  padding: 10px 20px;
  margin-left: 20px;
  background: #fff;
}

/* line 252, ../sass/demo.scss */
.content-head {
  border-bottom: 1px solid #656e73;
  background: #fff;
}
/* line 255, ../sass/demo.scss */
.content-head .span {
  display: inline-block;
}
/* line 258, ../sass/demo.scss */
.content-head .filter {
  display: inline-block;
  width: 50px;
  height: 34px;
  background: url(../images/icon_filter.png) -5px -5px;
  border-bottom: none;
  border: 1px solid rgba(199, 199, 199, 0);
}
/* line 265, ../sass/demo.scss */
.content-head .filter:hover .content-sel {
  display: block;
  border: 1px solid #c7c7c7;
}
/* line 270, ../sass/demo.scss */
.content-head a {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 5px 0 10px;
  color: #0a0707;
  font-size: 14px;
}
/* line 278, ../sass/demo.scss */
.content-head .set-pic-f {
  margin-left: 575px;
}

/* line 282, ../sass/demo.scss */
.content-sel {
  position: absolute;
  top: 44px;
  right: 20px;
  background: #fff;
  padding: 20px;
  display: none;
}
/* line 289, ../sass/demo.scss */
.content-sel ul {
  border-bottom: 1px solid rgba(199, 199, 199, 0.6);
}
/* line 291, ../sass/demo.scss */
.content-sel ul li {
  display: inline-block;
  padding: 20px 0;
}
/* line 294, ../sass/demo.scss */
.content-sel ul li a {
  display: inline-block;
  padding: 5px 10px;
}
/* line 301, ../sass/demo.scss */
.content-sel .sel-dis {
  display: block;
  margin: 20px 20px 0;
  color: #656e73;
  position: relative;
}
/* line 306, ../sass/demo.scss */
.content-sel .sel-dis span {
  position: absolute;
  top: -4px;
  left: -22px;
  width: 20px;
  height: 20px;
  background: url(../images/dot_checkbox.png) -5px -5px;
}

/* line 316, ../sass/demo.scss */
.content-cont {
  margin-top: 30px;
}
/* line 318, ../sass/demo.scss */
.content-cont a {
  display: inline-block;
  width: 274px;
  height: 250px;
  overflow: hidden;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid rgba(199, 199, 199, 0.6);
}
/* line 325, ../sass/demo.scss */
.content-cont a .cont-img {
  width: 100%;
  height: 150px;
  border: 4px solid red;
  overflow: hidden;
}
/* line 330, ../sass/demo.scss */
.content-cont a .cont-img img {
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 334, ../sass/demo.scss */
.content-cont a .cont-intro {
  -moz-transition: 2s;
  -o-transition: 2s;
  -webkit-transition: 2s;
  transition: 2s;
}
/* line 336, ../sass/demo.scss */
.content-cont a .cont-intro p {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #060606;
}
/* line 343, ../sass/demo.scss */
.content-cont a .cont-intro span {
  color: #656e73;
  font-size: 12px;
}
/* line 347, ../sass/demo.scss */
.content-cont a .cont-intro .r {
  float: left;
  margin-left: 20px;
}
/* line 351, ../sass/demo.scss */
.content-cont a .cont-intro .l {
  float: right;
  margin-right: 20px;
}
/* line 356, ../sass/demo.scss */
.content-cont a .cont-hov {
  display: none;
  transition: 2s;
}
/* line 359, ../sass/demo.scss */
.content-cont a .cont-hov p {
  width: 100%;
  height: 60px;
  padding: 10px;
  color: #656e73;
}
/* line 365, ../sass/demo.scss */
.content-cont a .cont-hov span {
  color: #656e73;
  font-size: 12px;
}
/* line 369, ../sass/demo.scss */
.content-cont a .cont-hov .h-r {
  float: left;
  margin-left: 20px;
}
/* line 373, ../sass/demo.scss */
.content-cont a .cont-hov .h-l {
  float: right;
  margin-right: 20px;
}
/* line 378, ../sass/demo.scss */
.content-cont a:hover {
  box-shadow: 2px 2px 2px #656e73;
}
/* line 380, ../sass/demo.scss */
.content-cont a:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 383, ../sass/demo.scss */
.content-cont a:hover .cont-intro {
  display: none;
}
/* line 386, ../sass/demo.scss */
.content-cont a:hover .cont-hov {
  display: block;
}

/* line 392, ../sass/demo.scss */
.cont-intr1 {
  display: none;
}

/* line 395, ../sass/demo.scss */
.nav-fixed {
  position: fixed;
  top: 0px;
  left: 100px;
}

/* line 400, ../sass/demo.scss */
.cont-fixed {
  position: fixed;
  top: 0px;
  right: 130px;
  z-index: 1;
}

/* line 407, ../sass/demo.scss */
.foot-nav {
  position: fixed;
  right: 40px;
  bottom: 0;
}

/* line 412, ../sass/demo.scss */
.weixin, .tips, .down, .backtop {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/elevator.png);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 420, ../sass/demo.scss */
.weixin {
  background-position: 0 -860px;
  position: relative;
}
/* line 423, ../sass/demo.scss */
.weixin span {
  position: absolute;
  left: -170px;
  top: -150px;
  width: 170px;
  height: 200px;
  display: none;
  background: url(../images/elevator.png) 0 0;
}
/* line 433, ../sass/demo.scss */
.weixin:hover {
  background-position: 0 -923px;
}
/* line 435, ../sass/demo.scss */
.weixin:hover span {
  display: block;
}

/* line 441, ../sass/demo.scss */
.tips {
  background-position: 0 -430px;
}
/* line 443, ../sass/demo.scss */
.tips:hover {
  background-position: 0 -490px;
}

/* line 447, ../sass/demo.scss */
.down {
  background-position: 0 -550px;
}
/* line 449, ../sass/demo.scss */
.down span {
  position: absolute;
  left: -170px;
  top: -20px;
  width: 170px;
  height: 170px;
  display: none;
  background: url(../images/elevator.png) 0 -230px;
}
/* line 459, ../sass/demo.scss */
.down:hover {
  background-position: 0 -615px;
}
/* line 461, ../sass/demo.scss */
.down:hover span {
  display: block;
}

/* line 466, ../sass/demo.scss */
.backtop {
  background-position: 0 -673px;
}
/* line 468, ../sass/demo.scss */
.backtop:hover {
  background-position: 0 -740px;
}
